attrs==25.4.0
btrfsutil==6.17.1
certifi==2025.11.12
cffi==2.0.0
cryptography==46.0.3
dbus-python==1.4.0
filelock==3.20.0
packaging==25.0
psutil==7.1.3
pycparser==2.23
pygdbmi==0.11.0.0
PyGObject==3.54.5
sentry-sdk==2.47.0
smbus==1.1
TBB==0.2
urllib3==2.6.2
wheel==0.45.1
